<% content_for(:title, @movie.title) %>
<article id="movie" class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: <%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>

  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %>
  </h3>

  <% if current_user %>
    <% if @current_favorite %>
      <%= button_to("Unfave", movie_favorite_path(@movie, @current_favorite), method: :delete, class: "button unfave") %>
    <% else %>
      <%= button_to("Fave", movie_favorites_path(@movie), class: "button fave") %>
    <% end %>
  <% end %>

  <!-- 
    The content_for method take a symbol which is an arbitraty identifier for the content so you can
    refer to it later. This just stores the content
    of the block for later use.
   -->
  <% content_for(:sidebar_extras) do %>
    <% if @fans.any? %>
      <h3><%= pluralize(@fans.size, "fan") %></h3>
      <ul>
        <% @fans.each do |user| %>
          <li>
            <%= link_to(user.name, user_path(user.id)) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <h3>Genres</h3>
    <ul>
      <% @genres.each do |genre| %>
        <li>
          <%= genre.name %>
        </li>
      <% end %>
    </ul>
  <% end %>
    
  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>

  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>

  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

  <h3>Reviews</h3>
  <p>
    <%= link_to(pluralize(@movie.reviews.size, "review"), movie_reviews_path(@movie)) %>
  </p>
  <!-- Checks to see if there are an recent_reviews and if yes, lists 2 most recent. -->
  <% if @movie.recent_reviews.any? %> 
    <h3>Recent Reviews</h3>
    <ol id="reviews">
      <% @movie.recent_reviews.each do |review| %>
        <li>
          <span class="review"><%= pluralize(review.stars, "star") %></span>
          <span class="user">by <%= review.user.name %></span>
          <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
          <p>
            &quot;<%= review.comment %>&quot;
          </p>
        </li>
      <% end %>
    </ol>
  <% end %>

  <h3>Average Review</h3>
  <p>
    <%= format_average_stars(@movie) %>
  </p>

  <footer>
    <nav>
      <% if current_user_admin? %>
        <%= link_to("Edit", edit_movie_path(@movie.id), class: "button") %>
        <%= link_to("Delete", movie_path(@movie.id), class: "button", method: :delete, data: { confirm: "Are you sure?" }) %>
      <% end %>
        <%= link_to("Write Review", new_movie_review_path(@movie.id), class: "button ok review")  %>
    </nav>
  </footer>
</article>
