<header id="page-header">
	<div id="masthead">
		<h1><%= link_to("Flix", root_path) %></h1>
		<nav>
			<p>
				<!-- 
				Calls the current_user method from the
				application_helper.rb file to get the
				current user from the database.
				-->
				<% if current_user %>
					<%= link_to(current_user.name, user_path(current_user.id)) %> | 
					<%= link_to("Account Settings", edit_user_path(current_user.id)) %>
				<% else %>
					<%= link_to("Sign Up", signup_path, class: "button") %>
					<%= link_to("Sign In", signin_path, class: "button") %>
				<% end %>
			</p>
		</nav>
	</div>
</header>